[defaults]
collections_paths = ./collections:/usr/share/ansible/collections

[galaxy]
server_list = validated, rh-certified

[galaxy_server.validated]
url=https://hub.lab.example.com/api/galaxy/content/validated/
token=40d1c901270fb06507748039c6177a034f2f50cb

[galaxy_server.rh-certified]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=40d1c901270fb06507748039c6177a034f2f50cb
